<!DOCTYPE html>
<html lang="en" data-ng-app="iotAnyware">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/angular-ui-notification.min.css" rel="stylesheet">
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="SAnodeCtrl as nodeCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">IoT</span> Anyware 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Register</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#devices">Devices</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#logs">Logs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- register Header -->
    <header class="register">
        <div class="register-body">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Register your first node</h2>
                    <p class="register-text">SA Node, Smart Mailbox is now available.<br>Enjoy free, easy, simple smart home service :)</p>
                    <a data-toggle="modal" data-target="#registerModal" class="btn btn-circle">
                        <i class="fa fa-plus animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Devices Section -->
    <section id="devices" class="container content-section text-center" ng-hide="isEmptyObject(nodeCtrl.nodes)">
        <div id="[[node.nickName]]" class="row" ng-repeat="node in nodeCtrl.nodes">
            <div class="col-lg-8 col-lg-offset-2" ng-hide="isEmptyObject(node.status)">
                <h2 ng-click="toggleCollapse(node.node)"><i class="material-icons col-sub">router</i> [[node.nickName]]<i class="material-icons">[[checkCollapse(node.node) ? "expand_less" : "expand_more"]]</i></h2>
                <!-- Sensor / Actuator -->
                 <div class="config-node" collapse="!checkCollapse(node.node)">
                     <div>
                        <div class="col-md-6">
                             <input type="email" id="shareNodeId" ng-model="nodeConfig[node.node]" class="form-control" placeholder="Email address of recipient" required autofocus>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" ng-click="shareNode(node.node)" ng-disabled="!nodeConfig[node.node] || !node.owner">Share</button>
                            <button type="button" class="btn btn-info" ng-click="transferNode(node.node)" ng-disabled="!nodeConfig[node.node] || !node.owner">Transfer</button>
                            <button type="button" class="btn btn-danger" ng-click="unregisterNode(node.node)">Unregister</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 box-border" ng-repeat="(key,val) in node.status" ng-click="toggleSwitch(node.node, key, val)">
                    <i class="material-icons col-main" ng-class="{'inactive': !isActiveValue(val)}">[[getIconName(key, val)]]</i>
                    <div class="sensor-status"> 
                        <div class="sensor-status-key">
                            <h3> [[key]] </h3>
                        </div>
                        <div class="sensor-status-value" ng-class="{'inactive': !isActiveValue(val)}">
                            <h3> [[val]]</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Logs Section -->
    <section id="logs" class="container content-section text-center">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2>Log Viewer</h2>
                <hr>
                <div class="row no-log" ng-hide="nodeCtrl.logs.length > 0">
                    <p> No logs are here. How about one more try? :)</p>
                </div>
                <div class="row single-log" ng-repeat="log in nodeCtrl.logs | filter:search | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                    <div class="col-lg-2 time">[[log.timestamp]]</div>
                    <div class="col-lg-1 nodeId">[[log.node]]</div>
                    <div class="col-lg-1 msgType">[[log.msg_type]]</div>
                    <div class="col-lg-8 text-left msg">[[log.msg]]</div>
                </div>
                <div class="row pagenation" ng-show="nodeCtrl.logs.length > 0">
                    <div class="col-lg-4 col-lg-offset-4">
                        <input class="form-control" ng-model="search" placeholder="Enter your search " />
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <pagination max-size="9" total-items="nodeCtrl.logs.length" items-per-page="pageSize" ng-model="currentPage"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About IoT Anyware</h2>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
    </section>

    <!-- Register modals -->
    <section id="modals" class="container content-section text-center">
        <!-- Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <form name="registerNodeForm" novalidate>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 style="color:black;" class="modal-title" id="myModalLabel">Register Node</h4>
              </div>
              <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-4">
                              <h5> Serial Number </h5>
                          </div>
                          <div class="col-md-8">
                               <input type="text" id="registerNodeId" ng-model="registerNodeInfo.nodeId" class="form-control" placeholder="Check the sticker label on the package box" required autofocus>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <h5> Display Name </h5>
                          </div>
                          <div class="col-md-8">
                               <input type="text" ng-model="registerNodeInfo.nickName" class="form-control" placeholder="My Home" required>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <h5> Choose Type </h5>
                          </div>
                          <div class="col-md-8">
                              <select class="form-control" ng-model="registerNodeInfo.virtual" ng-init="useVirtual">
                                  <option>Use Real Device</option>
                                  <option>Use Virtual Device</option>
                              </select>
                          </div>
                      </div>
                      <div class="row" collapse="registerNode.$valid">
                          <alert type="danger"  ng-hide="registerNodeForm.$valid && !alertMsg">[[alertMsg || "Invalid Form. Please Check Again."]]</alert>
                          <alert type="success" ng-show="registerNodeForm.$valid && !alertMsg">Valid Form. Good to go! </alert>
                      </div>
                          
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="registerNode()" ng-disabled="!registerNodeForm.$valid">Submit</button>
              </div>
            </form>
            </div>
          </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; IoT Anyware 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Angular.js -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>

    <!-- Angular.ui-bootstrap -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

    <!-- MQTT library -->
    <script src="/static/js/mqttws31.js"></script>

    <!-- strftime library -->
    <script src="/static/js/strftime.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/angular-ui-notification.min.js"></script>
    <script src="/static/js/grayscale.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
